.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  background-color: var(--secondary-color);
  padding: 1rem;
  padding-top: 3rem;
  top: 0;
  right: 0;
  width: 200px;
  box-shadow: var(--box-shadow);
  z-index: 19;
  transition: all .2s;

  a {
    margin: .5rem 0;
    transition: all .2s;
  }

  a:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .2s;
    font-weight: 700;
  }
}