@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Ubuntu', sans-serif;
  }

  h1 {
    @apply text-3xl my-3 font-bold;
  }

  h2 {
    @apply text-2xl font-bold my-3;
  }

  ul {
    @apply list-inside list-disc;
  }

  button {
    @apply rounded-md py-1 px-3 border;
  }

  button:hover {
    @apply bg-gray-100;
  }
}