.strength {
  margin: 5px 0;
  font-size: .7rem;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  transition: all .2s;
}

.weak {
  background-color: var(--warning-color);
  width: 65px;
  color: black
}

.medium {
  background-color: orange;
  width: 100px;
}

.strong {
  background-color: hsl(120, 33%, 40%);
  width: 125px;
  color: white;
}

.warning {
  color: var(--warning-color);
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
  margin-bottom: 1rem;
}

.passReq {
  position: relative;
  top: .5rem;
  background-color: white;
  border: 2px solid var(--warning-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 175px;
  transition: all .3s;
}

.passReq p {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
}

.hidden {
  height: 1px;
  scale: 0;
  border: none;
  background-color: transparent;
  transition: all .3s;
}

.invalidButton {
  background-color: lightGrey;
  color: grey;
  box-shadow: none;
}

.invalidButton:hover {
  transition: inherit;
  border-color: var(--accent-color);
  position: relative;
  top: 0px;
  box-shadow: none;
}