.confirmDeleteWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;

  .confirmDelete {
    text-align: center;
  }

  .confirmDeleteButtonWrapper {
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
      background-color: white;
      border: 1px solid black;
      width: 75px;
      border-radius: 5px;
      font-family: inherit;
      font-size: inherit;
    }

    button:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}